select{
    width: 100%;
    margin: 20px,10px,20px,20px;
    border: 2px double darkblue;
    font-size: x-large;
    background-color: darkgoldenrod;
    color: darkmagenta;
    padding-left: 30px;
}