.logo{
    display: inline-block;
    background-color: white;
    width: 100%;
}
.naac{
    float: left;
}
.category{
    float: left;
}
.excellence{
    float: right;
}
.aicte{
    float: right;
}
nav{
    background-color: brown;
    height: 50px;
    padding-top: 25px;
}
a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding: 80px;
}
.vizag{
    display: inline-block;
    margin-top: 5px;
    padding-left: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    text-align: left;
    width: 32%;
    height: 350px;
}
.hyd{
    display: inline-block;
    text-align: left;
    margin-top: 5px;
    padding-left: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 32%;
    height: 350px;
    
}
.ban{
    display: inline-block;
    text-align: left;
    margin-top: 5px;
    padding-left: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 32%;
    height: 350px;
}