.logo{
    background-color: white;
}
.naac{
    float: left;
}
.category{
    float: left;
}
.excellence{
    float: right;
}
.aicte{
    float: right;
}
.details{
    float: right;
}
.details1{
    text-align: center;
}
.details2{
    text-align: center;
}
.form{
    width: 416px;
    height: 442px;
    padding: 25px;
    font-size: large;
    float: right; 
}
.new{
    font-size: medium;
}
p{
    margin-top: 40px;
    font-size: 25px;
}
input{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
h3{
    text-align: center;
    color: brown;
}
button{
    padding: 5px;
    background-color: brown;
    color: white;
    margin-left: 200px;
}
nav{
    background-color: brown;
    height: 50px;
    padding-top: 25px;
}
.name{
    color: blue;
    font-size: medium;
}
a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding: 80px;
}